<!--  New section -->
<div class="py-5 px-3">
    <div class="container py-5">
      <h3 class="fw-bold  text-center text-md-start mb-3">Why choose Us?</h3>
      <div class="row">
          
      <div class="col-lg-4 col-md-6 d-flex align-items-center">
     
        <div class="bg-white shadow-sm rounded-circle p-3">
        <i class="fa-solid fa-money-bill fs-1 text-primary"></i>
      </div>
        
        <div class="ms-3 mt-md-5">
          <h6 class="h6 fw-bold">Reasonable prices</h6>
          <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmor</p>
        </div>
      </div>
             
          
      <div class="col-lg-4 col-md-6 d-flex align-items-center">
     
        <div class="bg-white shadow-sm rounded-circle p-3">
        <i class="fa-solid fa-star  fs-1 text-primary"></i>
      </div>
        
        <div class="ms-3 mt-md-5">
          <h6 class="h6 fw-bold">
    Best quality</h6>
          <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmor</p>
        </div>
      </div>
        
          
      <div class=" col-lg-4 col-md-6 d-flex align-items-center">
     
        <div class="bg-white shadow-sm rounded-circle p-3">
       <i class="fa-solid fa-plane  fs-1 text-primary"></i>
      </div>
        <div class="ms-3 mt-md-5">
          <h6 class="h6 fw-bold">Worldwide shipping</h6>
          <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmor</p>
        </div>
      </div>
          
          
      <div class="col-lg-4 col-md-6 d-flex align-items-center">
     
        <div class="bg-white shadow-sm rounded-circle p-3">
       <i class="fa-solid fa-users  fs-1 text-primary"></i>
      </div>
        <div class="ms-3 mt-md-5">
          <h6 class="h6 fw-bold">Customer satisfaction</h6>
          <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmor</p>
        </div>
      </div>
         
          
      <div class="col-lg-4 col-md-6 d-flex align-items-center">
     
        <div class="bg-white shadow-sm rounded-circle p-3">
     <i class="fa-solid fa-thumbs-up  fs-1 text-primary"></i>
      </div>
        <div class="ms-3 mt-md-5">
          <h6 class="h6 fw-bold">Happy customers</h6>
          <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmor</p>
        </div>
      </div>
       
        <div class="col-lg-4 col-md-6 d-flex align-items-center">
     
        <div class="bg-white shadow-sm rounded-circle p-3">
     <i class="fa-solid fa-box-open fs-1 text-primary"></i>
      </div>
        <div class="ms-3 mt-md-5">
          <h6 class="h6 fw-bold">Thousand items</h6>
          <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmor</p>
        </div>
      </div>
        
      
      </div><!--row idv--->
      
    </div>
    </div>
    
    
    <!--new section---->
    <div class="pb-5">
      <div class="container py-5">
        <h3 class="h3 fw-bold mb-3 text-center text-md-start mb-3">Blog posts</h3>
       <div class="row mt-md-5">
         
         <div class="col-sm-6 col-md-6 col-lg-3">
           <img class="bg rounded" src="https://bootstrap-ecommerce.com/bootstrap5-ecommerce/images/posts/1.jpg" width="250" height="200"  </img>
           <div class="mt-3">
             <a href="#"  class="fw-bold">How to promote brands</a>
             <p class="text-muted">When you enter into any new area of science, you almost reach</p>
           </div>
         </div><!--col div -->
         
          <div class="col-sm-6 col-md-6 col-lg-3">
           <img class="bg rounded" src="https://bootstrap-ecommerce.com/bootstrap5-ecommerce/images/posts/2.jpg" width="250" height="200"  </img>
           <div class="mt-3">
             <a class="fw-bold">How we handle shipping</a>
             <p class="text-muted">When you enter into any new area of science, you almost reach</p>
           </div>
         </div><!--col div -->
         
          <div class="col-sm-6 col-md-6 col-lg-3">
           <img class="bg rounded" src="https://bootstrap-ecommerce.com/bootstrap5-ecommerce/images/posts/3.jpg" width="250" height="200"  </img>
           <div class="mt-3">
             <a class="fw-bold">How to promote brands</a>
             <p class="text-muted">When you enter into any new area of science, you almost reach</p>
           </div>
         </div><!--col div -->
         
          <div class="col-sm-6 col-md-6 col-lg-3">
           <img class="bg rounded" src="https://bootstrap-ecommerce.com/bootstrap5-ecommerce/images/posts/4.jpg" width="250" height="200"  </img>
           <div class="mt-3">
             <a class="fw-bold">Success story of sellers</a>
             <p class="text-muted">When you enter into any new area of science, you almost reach</p>
           </div>
         </div><!--col div -->
         
        </div><!-- div row -->
        
      </div>
    </div>
    
    
    <!-- Footer -->
    
    <div class="py-5">
      <div class="container">
        
      <div class="row d-flex">
        
        <div class="col-md-12 col-lg-3 mb-3">
       
        <img src="https://bootstrap-ecommerce.com/bootstrap5-ecommerce/images/logo.svg"></img>
        <p class="mt-4 text-muted">© 2018- 2021 Templatemount.<br>
    All rights reserved.</p>
    
        </div>
        
        <div class="col-6 col-sm-6 col-md-4 col-lg-2">
            
          <h6 class="h6 fw-bold">Store</h6>
    
            <a 
               href="#" class="text-decoration-none text-muted">About us</a>
           <a 
              href="#" class="text-decoration-none text-muted">Find stories</a>
           <a 
              href="#" class="text-decoration-none text-muted">Categories</a>
           <a 
              href="#" class="text-decoration-none text-muted">Blogs</a>
        </div>
        
        <div class="col-6 col-sm-6 col-md-4 col-lg-2">
          <h6 class="h6 fw-bold">Information</h6>
          <a href="#" class="text-decoration-none text-muted">About us</a>
           <a href="#" class="text-decoration-none text-muted">Find stories</a>
           <a href="#" class="text-decoration-none text-muted">Categories</a>
           <a href="#" class="text-decoration-none text-muted">Blogs</a>
        </div>
        
        <div class="col-6 col-sm-6 col-md-4 col-lg-2 mt-3 mt-md-0">
          <h6 class="h6 fw-bold">Support</h6>
          <a href="#" class="text-decoration-none text-muted">About us</a>
           <a href="#" class="text-decoration-none text-muted">Find stories</a>
           <a href="#" class="text-decoration-none text-muted">Categories</a>
           <a href="#" class="text-decoration-none text-muted">Blogs</a>
        </div>
        
        <div class="col-lg-3 mt-3 mt-lg-0">
     
          <h6 class="h6 fw-bold">Newsletter</h6>
          <p class="text-muted">Stay in touch with latest updates about our products and offers</p>
     
          <div class="input-group">
      <input type="text" class="form-control" placeholder="Email" aria-label="Email" aria-describedby="basic-addon2">
      <div class="input-group-append">
        <button class="btn btn-secondary" type="button">Join</button>
      </div>
    </div>
        </div>
    
        
        
      </div><!--row div-->
      
      
      
      </div>
    </div>
        
        
        
        
        
        
        
        
        